<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <meta name="description" content="admin-themes-lab"/>
        <meta name="author" content="themes-lab"/>
        <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png"/>
        <title>HL7 Doctor UI - Swan iCare</title>
        <link href="assets/css/style.css" rel="stylesheet"/>
        <link href="assets/css/theme.css" rel="stylesheet"/>
        <link href="assets/css/ui.css" rel="stylesheet"/>
        <!-- BEGIN PAGE STYLE -->
        <link href="assets/plugins/metrojs/metrojs.min.css" rel="stylesheet"/>
        <link href="assets/plugins/maps-amcharts/ammap/ammap.min.css" rel="stylesheet"/>
        <!-- END PAGE STYLE -->
        <script src="assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </h:head>

    <!-- BEGIN BODY -->
    <body class="fixed-topbar fixed-sidebar theme-sdtl color-default">
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <section>
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar">
                <div class="logopanel">
                    <h1>
                        <a href="dashboard.html"></a>
                    </h1>
                </div>
                <div class="sidebar-inner">
                    <div class="sidebar-top">

                        <div class="userlogged clearfix">
                            <i class="icon icons-faces-users-01"></i>
                            <div class="user-details">
                                <h4>#{dashboard.doctorName}</h4>
                                <div class="dropdown user-login">
                                    <button class="btn btn-xs dropdown-toggle btn-rounded" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="300">
                                        <i class="online"></i><span>Available</span><i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="busy"></i><span>Busy</span></a></li>
                                        <li><a  href="#"><i class="turquoise"></i><span>Invisible</span></a></li>
                                        <li><a href="#"><i class="away"></i><span>Away</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-title">
                        Navigation 
                        <div class="pull-right menu-settings">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="300"> 
                                <i class="icon-settings"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" id="reorder-menu" class="reorder-menu">Reorder menu</a></li>
                                <li><a href="#" id="remove-menu" class="remove-menu">Remove elements</a></li>
                                <li><a href="#" id="hide-top-sidebar" class="hide-top-sidebar">Hide/Show Badge </a></li>
                            </ul>
                        </div>
                    </div>


                    <ul class="nav nav-sidebar">
                        <li><a href="welcomePrimefaces.xhtml"><i class="icon-home"></i><span data-translate="dashboard">Dashboard</span></a></li>

                        <li><a href="Patients.xhtml"><i class="icon-user"></i><span data-translate="Patients">Patients</span></a></li>

                        <li><a href="Observations.xhtml"><i class="icon-settings"></i><span data-translate="Observations">Observations</span></a></li>

                        <li><a href="Devices.xhtml"><i class="icon-settings"></i><span data-translate="Devices">Devices</span></a></li>

                        <li><a href="DataExport.xhtml"><i class="icon-settings"></i><span data-translate="Data Export">Data Export</span></a></li>

                    </ul>
                    <!-- SIDEBAR WIDGET FOLDERS -->
                    <div class="sidebar-widgets">
<!--                        <p class="menu-title widget-title">Folders <span class="pull-right"><a href="#" class="new-folder"> <i class="icon-plus"></i></a></span></p>
                        <ul class="folders">
                            <li>
                                <a href="#"><i class="icon-doc c-primary"></i>My documents</a> 
                            </li>
                            <li>
                                <a href="#"><i class="icon-picture"></i>My images</a> 
                            </li>
                            <li><a href="#"><i class="icon-lock"></i>Secure data</a> 
                            </li>
                            <li class="add-folder">
                                <input type="text" placeholder="Folder's name..." class="form-control input-sm"/>
                            </li>
                        </ul>-->
<!--
<div class="title">STATISTICS</div>
                            <div class="settings-chart">
                                <div class="clearfix">
                                    <div class="chart-title">HL7 Server Load</div>
                                    <div class="chart-number">33%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar  " data="3" value="3"></div>
                                </div>
                            </div>

                            <div class="settings-chart">
                                <div class="clearfix">
                                    <div class="chart-title">Proxy Load</div>
                                    <div class="chart-number">43%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary setting2" data-transitiongoal="43"></div>
                                </div>
                            </div>
                            <div class="settings-chart">
                                <div class="clearfix">
                                    <div class="chart-title">Database Load</div>
                                    <div class="chart-number">55%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary setting2" data-transitiongoal="43"></div>
                                </div>
                            </div>-->
                    </div>
                    <div class="sidebar-footer clearfix">
                        <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="Fullscreen">
                            <i class="icon-size-fullscreen"></i></a>
                        <a class="pull-left" href="lockscreen.xhtml" data-rel="tooltip" data-placement="top" data-original-title="Lockscreen">
                            <i class="icon-lock"></i></a>
                        <a class="pull-left btn-effect" href="index.xhtml" data-modal="modal-1" data-rel="tooltip" data-placement="top" data-original-title="Logout">
                            <i class="icon-power"></i></a>
                    </div>
                </div>
            </div>
            <!-- END SIDEBAR -->
            <div class="main-content">
                <!-- BEGIN TOPBAR -->
                <div class="topbar">
                    <div class="header-left">
                        <div class="topnav">
                            <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>

                        </div>
                    </div>
                    <div class="header-right">
                        <ul class="header-menu nav navbar-nav">
                            <!-- BEGIN USER DROPDOWN -->
                            <li class="dropdown" id="language-header">
                                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-globe"></i>
                                    <span data-translate="Language">Language</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" data-lang="en"><img src="assets/images/flags/usa.png" alt="flag-english"/> <span>English</span></a>
                                    </li>
                                    <li>
                                        <a href="#" data-lang="es"><img src="assets/images/flags/spanish.png" alt="flag-english"/> <span>Español</span></a>
                                    </li>
                                    <li>
                                        <a href="#" data-lang="fr"><img src="assets/images/flags/french.png" alt="flag-english"/> <span>Français</span></a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END USER DROPDOWN -->
                            <!-- BEGIN NOTIFICATION DROPDOWN -->
                            <li class="dropdown" id="notifications-header">
                                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-bell"></i>
                                    <span class="badge badge-danger badge-header">1</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header clearfix">
                                        <p class="pull-left">Notifications</p>
                                    </li>
                                    <li>
                                        <ul class="dropdown-menu-list withScroll" data-height="220">

                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-picture-o p-r-10 f-18 c-blue"></i>
                                                    Patient interface is updated
                                                    <span class="dropdown-time">1 days</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-footer clearfix">
                                        <a href="#" class="pull-left">See all notifications</a>
                                        <a href="#" class="pull-right">
                                            <i class="icon-settings"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END NOTIFICATION DROPDOWN -->

                            <!-- BEGIN USER DROPDOWN -->
                            <li class="dropdown" id="user-header">
                                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img src="assets/images/avatars/user1.png" alt="user image"/>
                                    <span class="username">Hi, #{dashboard.doctorName}</span>
                                </a>
                                <ul class="dropdown-menu">

                                    <li>
                                        <a href="index.xhtml"><i class="icon-logout"></i><span>Logout</span></a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END USER DROPDOWN -->

                            <!-- CHAT BAR ICON -->
                            <li id="quickview-toggle"><a href="#"><i class="icon-bubbles"></i></a></li>
                        </ul>
                    </div>
                    <!-- header-right -->
                </div>
                <!-- END TOPBAR -->
                <!-- BEGIN PAGE CONTENT -->
                <div class="page-content page-thin ">
                    <div class="row">
<!--                        <div class="col-xlg-7 col-lg-7">-->
                            <!--class on row-->
                            <div class="row m-t-10">
                                
                                <h:form>
                                <h1>Patients</h1>
                                <ui:repeat value="#{dashboard.patientitems}" var="item">
                                        
<!--                                        <div class="col-xlg-2 col-lg-4 col-md-4 col-sm-4 col-xs-12">-->
                                            <div class="col-md-4 m-b-30">
                                            
<!--                                            <div class="panel">
                                                <div class="panel-content widget-info">
                                                    <div class="row">
                                                        <div class="left">
                                                            <i class="fa fa-bug bg-blue"></i>
                                                        </div>
                                                        <div class="right">
                                                            <p class="number countup" data-from="0" data-to="1210">#{item}</p>
                                                            <p class="text">Warnings</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>-->
                                            

                                              <div class="panel panel-default hover-effect">
                <div class="panel-heading h-150 p-0">
                  <img src="assets/images/widgets/profil2.jpg" class="img-responsive hover-img" alt=""/>
                </div>
                <div class="panel-body p-10">
                  <div class="clearfix col-lg-6 col-md-12 col-sm-12">
                    <h3 class="c-dark w-600 align-center">#{item.name}</h3>
                    <p class="c-gray f-16 align-center">Patient</p>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 p-t-20">
                    <div class="col-xs-4 c-gray">
                      <div class="text-center m-b-20">
                        <i class="f-24 icon-speech"></i>
                      </div>
                      <div class="text-center">
                        #{item.currentstatus}
                      </div>
                    </div>
                    <div class="col-xs-4 c-gray">
                      <div class="text-center m-b-20">
                        <i class="f-24 icon-users"></i>
                      </div>
                      <div class="text-center">
                        #{item.status}

                      </div>
                    </div>
                    <div class="col-xs-4 c-gray">
                      <div class="text-center m-b-20">
                        <i class="f-24 icon-heart c-red"></i>
                      </div>
                      <div class="text-center">
                        #{item.medicaldevstatus}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                                            
                                        </div>
                                        
                                        
                                    </ui:repeat>   
                                </h:form>
                            </div>    
                            <!--class on row-->
<!--                        </div>-->
                    </div>
                </div>
                <!-- END PAGE CONTENT -->
            </div>
            <!-- END MAIN CONTENT -->
            <!-- BEGIN BUILDER -->
            <div class="builder hidden-sm hidden-xs" id="builder">
                <a class="builder-toggle"><i class="icon-wrench"></i></a>
                <div class="inner">
                    <div class="builder-container">
                        <a href="#" class="btn btn-sm btn-default" id="reset-style">reset default style</a>
                        <h4>Layout options</h4>
                        <div class="layout-option">
                            <span> RTL</span>
                            <label class="switch pull-right">
                                <input data-layout="rtl" id="switch-rtl" type="checkbox" class="switch-input"/>
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                        <div class="layout-option">
                            <span> Fixed Sidebar</span>
                            <label class="switch pull-right">
                                <input data-layout="sidebar" id="switch-sidebar" type="checkbox" class="switch-input" />
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                        <div class="layout-option">
                            <span> Sidebar on Hover</span>
                            <label class="switch pull-right">
                                <input data-layout="sidebar-hover" id="switch-sidebar-hover" type="checkbox" class="switch-input"/>
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                        <div class="layout-option">
                            <span> Submenu on Hover</span>
                            <label class="switch pull-right">
                                <input data-layout="submenu-hover" id="switch-submenu-hover" type="checkbox" class="switch-input"/>
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                        <div class="layout-option">
                            <span> Sidebar on Top</span>
                            <label class="switch pull-right">
                                <input data-layout="sidebar-top" id="switch-sidebar-top" type="checkbox" class="switch-input"/>
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                        <div class="layout-option">
                            <span>Fixed Topbar</span>
                            <label class="switch pull-right">
                                <input data-layout="topbar" id="switch-topbar" type="checkbox" class="switch-input" />
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                        <div class="layout-option">
                            <span>Boxed Layout</span>
                            <label class="switch pull-right">
                                <input data-layout="boxed" id="switch-boxed" type="checkbox" class="switch-input"/>
                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                        <h4 class="border-top">Color</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="theme-color bg-dark" data-main="default" data-color="#2B2E33"></div>
                                <div class="theme-color background-primary" data-main="primary" data-color="#319DB5"></div>
                                <div class="theme-color bg-red" data-main="red" data-color="#C75757"></div>
                                <div class="theme-color bg-green" data-main="green" data-color="#1DA079"></div>
                                <div class="theme-color bg-orange" data-main="orange" data-color="#D28857"></div>
                                <div class="theme-color bg-purple" data-main="purple" data-color="#B179D7"></div>
                                <div class="theme-color bg-blue" data-main="blue" data-color="#4A89DC"></div>
                            </div>
                        </div>
                        <h4 class="border-top">Theme</h4>
                        <div class="row row-sm">
                            <div class="col-xs-6">
                                <div class="theme clearfix sdtl" data-theme="sdtl">
                                    <div class="header theme-left"></div>
                                    <div class="header theme-right-light"></div>
                                    <div class="theme-sidebar-dark"></div>
                                    <div class="bg-light"></div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="theme clearfix sltd" data-theme="sltd">
                                    <div class="header theme-left"></div>
                                    <div class="header theme-right-dark"></div>
                                    <div class="theme-sidebar-light"></div>
                                    <div class="bg-light"></div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="theme clearfix sdtd" data-theme="sdtd">
                                    <div class="header theme-left"></div>
                                    <div class="header theme-right-dark"></div>
                                    <div class="theme-sidebar-dark"></div>
                                    <div class="bg-light"></div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="theme clearfix sltl" data-theme="sltl">
                                    <div class="header theme-left"></div>
                                    <div class="header theme-right-light"></div>
                                    <div class="theme-sidebar-light"></div>
                                    <div class="bg-light"></div>
                                </div>
                            </div>
                        </div>
                        <h4 class="border-top">Background</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="bg-color bg-clean" data-bg="clean" data-color="#F8F8F8"></div>
                                <div class="bg-color bg-lighter" data-bg="lighter" data-color="#EFEFEF"></div>
                                <div class="bg-color bg-light-default" data-bg="light-default" data-color="#E9E9E9"></div>
                                <div class="bg-color bg-light-blue" data-bg="light-blue" data-color="#E2EBEF"></div>
                                <div class="bg-color bg-light-purple" data-bg="light-purple" data-color="#E9ECF5"></div>
                                <div class="bg-color bg-light-dark" data-bg="light-dark" data-color="#DCE1E4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END BUILDER -->
        </section>
        <!-- BEGIN QUICKVIEW SIDEBAR -->
        <div id="quickview-sidebar">
            <div class="quickview-header">
                <ul class="nav nav-tabs">

                    <li><a href="#notes" data-toggle="tab">Notes</a></li>
                    <li><a href="#settings" data-toggle="tab" class="settings-tab">Settings</a></li>
                </ul>
            </div>
            <div class="quickview">
                <div class="tab-content">
                    <div class="tab-pane fade" id="notes">
                        <div class="list-notes current withScroll">
                            <div class="notes ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="add-note">
                                            <i class="fa fa-plus"></i>ADD A NEW NOTE
                                        </div>
                                    </div>
                                </div>
                                <div id="notes-list">
                                    <div class="note-item media current fade in">
                                        <button class="close">×</button>
                                        <div>
                                            <div>
                                                <p class="note-name">Reset my account password</p>
                                            </div>
                                            <p class="note-desc hidden">Break security reasons.</p>
                                            <p><small>Tuesday 6 May, 3:52 pm</small></p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="detail-note note-hidden-sm">
                            <div class="note-header clearfix">
                                <div class="note-back">
                                    <i class="icon-action-undo"></i>
                                </div>
                                <div class="note-edit">Edit Note</div>
                                <div class="note-subtitle">title on first line</div>
                            </div>
                            <div id="note-detail">
                                <div class="note-write">
                                    <textarea class="form-control" placeholder="Type your note here"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="settings">
                        <div class="settings">
                            <div class="title">ACCOUNT SETTINGS</div>
                            <div class="setting">
                                <span> Show Personal Status</span>
                                <label class="switch pull-right">
                                    <input type="checkbox" class="switch-input" />
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                                <p class="setting-info">Other users can view my status.</p>
                            </div>
                            <div class="setting">
                                <span> Show my Picture</span>
                                <label class="switch pull-right">
                                    <input type="checkbox" class="switch-input" />
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                                <p class="setting-info">Show my profile picture to other users.</p>
                            </div>
                            <div class="setting">
                                <span> Show my Location</span>
                                <label class="switch pull-right">
                                    <input type="checkbox" class="switch-input"/>
                                    <span class="switch-label" data-on="On" data-off="Off"></span>
                                    <span class="switch-handle"></span>
                                </label>
                                <p class="setting-info">Other users can view my location.</p>
                            </div>
<!--                            <div class="title">STATISTICS</div>
                            <div class="settings-chart">
                                <div class="clearfix">
                                    <div class="chart-title">HL7 Server Load</div>
                                    <div class="chart-number">33%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary setting1" data-transitiongoal="82"></div>
                                </div>
                            </div>

                            <div class="settings-chart">
                                <div class="clearfix">
                                    <div class="chart-title">Proxy Load</div>
                                    <div class="chart-number">43%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary setting2" data-transitiongoal="43"></div>
                                </div>
                            </div>
                            <div class="settings-chart">
                                <div class="clearfix">
                                    <div class="chart-title">Database Load</div>
                                    <div class="chart-number">55%</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary setting2" data-transitiongoal="43"></div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BEGIN PRELOADER -->
        <div class="loader-overlay">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <!-- END PRELOADER -->
        <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a> 
        <script src="assets/plugins/jquery/jquery-1.11.1.min.js"></script>
        <script src="assets/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
        <script src="assets/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
        <script src="assets/plugins/gsap/main-gsap.min.js"></script>
        <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/plugins/jquery-cookies/jquery.cookies.min.js"></script> <!-- Jquery Cookies, for theme -->
        <script src="assets/plugins/jquery-block-ui/jquery.blockUI.min.js"></script> <!-- simulate synchronous behavior when using AJAX -->
        <script src="assets/plugins/translate/jqueryTranslator.min.js"></script> <!-- Translate Plugin with JSON data -->
        <script src="assets/plugins/bootbox/bootbox.min.js"></script> <!-- Modal with Validation -->
        <script src="assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> <!-- Custom Scrollbar sidebar -->
        <script src="assets/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script> <!-- Show Dropdown on Mouseover -->
        <script src="assets/plugins/charts-sparkline/sparkline.min.js"></script> <!-- Charts Sparkline -->
        <script src="assets/plugins/retina/retina.min.js"></script> <!-- Retina Display -->
        <script src="assets/plugins/select2/select2.min.js"></script> <!-- Select Inputs -->
        <script src="assets/plugins/icheck/icheck.min.js"></script> <!-- Checkbox & Radio Inputs -->
        <script src="assets/plugins/backstretch/backstretch.min.js"></script> <!-- Background Image -->
        <script src="assets/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script> <!-- Animated Progress Bar -->
        <script src="assets/js/builder.js"></script> <!-- Theme Builder -->
        <script src="assets/js/sidebar_hover.js"></script> <!-- Sidebar on Hover -->
        <script src="assets/js/application.js"></script> <!-- Main Application Script -->
        <script src="assets/js/plugins.js"></script> <!-- Main Plugin Initialization Script -->
        <script src="assets/js/widgets/notes.js"></script> <!-- Notes Widget -->
        <script src="assets/js/quickview.js"></script>  
        <script src="assets/js/pages/search.js"></script> <!-- Search Script -->
        <!-- BEGIN PAGE SCRIPT -->
        <!--    <script src="assets/plugins/noty/jquery.noty.packaged.min.js"></script>   Notifications -->
        <script src="assets/plugins/bootstrap-editable/js/bootstrap-editable.min.js"></script> <!-- Inline Edition X-editable -->
        <script src="assets/plugins/bootstrap-context-menu/bootstrap-contextmenu.min.js"></script> <!-- Context Menu -->
        <script src="assets/plugins/multidatepicker/multidatespicker.min.js"></script> <!-- Multi dates Picker -->
        <script src="assets/js/widgets/todo_list.js"></script>
        <script src="assets/plugins/metrojs/metrojs.min.js"></script> <!-- Flipping Panel -->
        <script src="assets/plugins/charts-chartjs/Chart.min.js"></script>  <!-- ChartJS Chart -->
        <script src="assets/plugins/charts-highstock/js/highstock.min.js"></script> <!-- financial Charts -->
        <script src="assets/plugins/charts-highstock/js/modules/exporting.min.js"></script> <!-- Financial Charts Export Tool -->
        <script src="assets/plugins/maps-amcharts/ammap/ammap.min.js"></script> <!-- Vector Map -->
        <script src="assets/plugins/maps-amcharts/ammap/maps/js/worldLow.min.js"></script> <!-- Vector World Map  -->
        <script src="assets/plugins/maps-amcharts/ammap/themes/black.min.js"></script> <!-- Vector Map Black Theme -->
        <script src="assets/plugins/skycons/skycons.min.js"></script> <!-- Animated Weather Icons -->
        <script src="assets/plugins/simple-weather/jquery.simpleWeather.js"></script> <!-- Weather Plugin -->
        <script src="assets/js/widgets/widget_weather.js"></script>
        <script src="assets/js/pages/dashboard.js"></script>
        <!-- END PAGE SCRIPT -->
    </body>
</html>